# What is it?
A dictionary is an unordered set of key: value pairs.

Avocado Toast is 6 dollars

Carrot Juice is 5 dollars

Blueberry Muffin is 2 dollars

In [1]:
menu = {"avocado toast": 6, "carrot juice": 5, "blueberry muffin": 2}

In [2]:
sensors =  {"living room": 21, "kitchen": 23, "bedroom": 20, "pantry": 22}
num_cameras = {"backyard": 6,  "garage": 2, "driveway": 1}

print(sensors)

{'living room': 21, 'kitchen': 23, 'bedroom': 20, 'pantry': 22}

In [3]:
subtotal_to_total = {20: 24, 10: 12, 5: 6, 15: 18}

In [4]:
type(subtotal_to_total)

dict

In [5]:
students_in_classes = {"software design": ["Aaron", "Delila", "Samson"], "cartography": ["Christopher", "Juan", "Marco"], "philosophy": ["Frederica", "Manuel"]}

In [6]:
powers = {[1, 2, 4, 8, 16]: 2, [1, 3, 9, 27, 81]: 3}

TypeError: unhashable type: 'list'

In [7]:
children = {"von Trapp": ["Johannes", "Rosmarie", "Eleonore"], "Corleone": ["Sonny", "Fredo", "Michael"]}

# Empty Dict

In [11]:
empty_dict = {}

# Add A Key

In [12]:
menu = {"oatmeal": 3, "avocado toast": 6, "carrot juice": 5, "blueberry muffin": 2}

In [13]:
menu["cheesecake"] = 8

In [14]:
print(menu)

{'oatmeal': 3, 'avocado toast': 6, 'carrot juice': 5, 'blueberry muffin': 2, 'cheesecake': 8}

# Add Multiple Keys
If we wanted to add multiple key : value pairs to a dictionary at once, we can use the .update() method.

In [15]:
sensors = {"living room": 21, "kitchen": 23, "bedroom": 20}
sensors.update({"pantry": 22, "guest room": 25, "patio": 34})

In [16]:
print(sensors)

{'living room': 21, 'kitchen': 23, 'bedroom': 20, 'pantry': 22, 'guest room': 25, 'patio': 34}

# Overwrite Values

In [17]:
menu = {"oatmeal": 3, "avocado toast": 6, "carrot juice": 5, "blueberry muffin": 2}
menu["oatmeal"] = 5
print(menu)

{'oatmeal': 5, 'avocado toast': 6, 'carrot juice': 5, 'blueberry muffin': 2}

# Get A Key
Once you have a dictionary, you can access the values in it by providing the key.

In [19]:
building_heights = {"Burj Khalifa": 828, "Shanghai Tower": 632, "Abraj Al Bait": 601, "Ping An": 599, "Lotte World Tower": 554.5, "One World Trade": 541.3}

In [20]:
building_heights["Burj Khalifa"]

828

# Get an Invalid Key

In [21]:
building_heights = {"Burj Khalifa": 828, "Shanghai Tower": 632, "Abraj Al Bait": 601, "Ping An": 599, "Lotte World Tower": 554.5, "One World Trade": 541.3}

In [22]:
print(building_heights["Landmark 81"])

KeyError: 'Landmark 81'

# Safely Get a Key
use .get() method of the dict

In [25]:
building_heights = {"Burj Khalifa": 828, "Shanghai Tower": 632, "Abraj Al Bait": 601, "Ping An": 599, "Lotte World Tower": 554.5, "One World Trade": 541.3}
 
#this line will return 632:
print(building_heights.get("Shanghai Tower"))
 
#this line will return None:
print(building_heights.get("My House"))

632
None

In [26]:
building_heights.get('Shanghai Tower', 0)

632

In [27]:
building_heights.get('Mt Olympus', 0)

0

In [28]:
building_heights.get('Kilimanjaro', 'No Value')

'No Value'

# Delete a Key

In [29]:
raffle = {223842: "Teddy Bear", 872921: "Concert Tickets", 320291: "Gift Basket", 412123: "Necklace", 298787: "Pasta Maker"}

In [30]:
raffle.pop(100000, "No Prize")

'No Prize'

In [31]:
print(raffle)

{223842: 'Teddy Bear', 872921: 'Concert Tickets', 320291: 'Gift Basket', 412123: 'Necklace', 298787: 'Pasta Maker'}

In [32]:
raffle.pop(872921, "No Prize")

'Concert Tickets'

In [33]:
print(raffle)

{223842: 'Teddy Bear', 320291: 'Gift Basket', 412123: 'Necklace', 298787: 'Pasta Maker'}

# List All Keys in a dictionary

In [34]:
test_scores = {"Grace":[80, 72, 90], "Jeffrey":[88, 68, 81], "Sylvia":[80, 82, 84], "Pedro":[98, 96, 95], "Martin":[78, 80, 78], "Dina":[64, 60, 75]}

In [35]:
list(test_scores)

['Grace', 'Jeffrey', 'Sylvia', 'Pedro', 'Martin', 'Dina']

In [36]:
for student in test_scores.keys():
  print(student)

Grace
Jeffrey
Sylvia
Pedro
Martin
Dina

# Get All Values

In [37]:
test_scores = {"Grace":[80, 72, 90], "Jeffrey":[88, 68, 81], "Sylvia":[80, 82, 84], "Pedro":[98, 96, 95], "Martin":[78, 80, 78], "Dina":[64, 60, 75]}
 
for score_list in test_scores.values():
  print(score_list)

[80, 72, 90]
[88, 68, 81]
[80, 82, 84]
[98, 96, 95]
[78, 80, 78]
[64, 60, 75]

In [38]:
list(test_scores.values())

[[80, 72, 90],
 [88, 68, 81],
 [80, 82, 84],
 [98, 96, 95],
 [78, 80, 78],
 [64, 60, 75]]

# Get All Items

In [39]:
biggest_brands = {"Apple": 184, "Google": 141.7, "Microsoft": 80, "Coca-Cola": 69.7, "Amazon": 64.8}
 
for company, value in biggest_brands.items():
  print(company + " has a value of " + str(value) + " billion dollars. ")

Apple has a value of 184 billion dollars.
Google has a value of 141.7 billion dollars.
Microsoft has a value of 80 billion dollars.
Coca-Cola has a value of 69.7 billion dollars.
Amazon has a value of 64.8 billion dollars.